version: '3.8'
services:
  mongodb:
    image: mongo:7.0
    container_name: rightly_mongo
    environment:
      MONGO_INITDB_DATABASE: rightly
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data:/data/db

  redis:
    image: redis:7.2
    container_name: rightly_redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

volumes:
  mongodb_data:
  redis_data: